@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .headerLi {
    @apply text-primaryColor hover:text-secondaryColor cursor-pointer duration-300;
  }
} */

@layer components {
  .headerLi {
    color: var(--text-primaryColor);
    transition: color 300ms;
  }

  .headerLi:hover {
    color: var(--text-secondaryColor);
    cursor: pointer;
  }
}
